@using Hungry.Shared.Models
@using Hungry.Shared.Repositories

@page "/hungrydays/edit/{Id:int}"

<PageTitle>Edit</PageTitle>

@inject HungryRepository _hungryRepostiory
@inject NavigationManager NavigationManager

<div class="row">
    <EditForm Model="@hungryDay" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="col-md-6">
        <div class="" >
                <div class="row">
                    <div class="col-md-12 mb-2">
                        <h5 class="card-title">@hungryDay.Name</h5>
                        <div class="input-group flex-nowrap">
                        <span class="input-group-text">Diner</span>
                        <InputText id="Diner" class="form-control" @bind-Value="@hungryDay.Diner" />
                    </div>
                    </div>
                </div>
                <div class="row">
                    @foreach(var item in @hungryDay.Items)
                    {
                        <div class="col-md-12 mb-2">
                            <div class="input-group">
                                <div class="input-group-text">
                                    <InputCheckbox class="form-check-input mt-0" @bind-Value="item.Bought"/>
                                </div>
                                <InputText class="form-control" @bind-Value="@item.Name"/>
                                <InputSelect class="form-select"  @bind-Value="item.Store"/>
                                <a class="btn btn-danger" @onclick="() => DeleteItem(item)">
                                    <span class="oi oi-trash"></span>
                                </a>

                            </div>
                        </div>
                    }

                </div>
                <div class="row">
                    <div class="col-md-12 mb-2">
                        <a class="btn btn-warning w-100" @onclick="() => AddItem()">
                            <span class="oi oi-plus"></span>
                        </a>
                    </div>
                    <div class="col-md-12 mb-2">
                        <button class="btn btn-success w-100" type="submit">Save</button>
                    </div>
                </div>
        </div>
    </div>


    <div class="col-md-6">

    </div>

    </EditForm>



</div>
@code {
    public HungryDay? hungryDay;

    [Parameter]
    public int Id { get; set; }

    protected override void OnInitialized()
    {
        hungryDay = _hungryRepostiory.GetHungryDay(Id);
    }

    private void HandleValidSubmit()
    {
        _hungryRepostiory.EditHungryDay(hungryDay);
        NavigationManager.NavigateTo("hungrydays");
        // Process the valid form
    }

    private void AddItem()
    {
        hungryDay.Items.Add(
            new Item()
        );
    }

    private void DeleteItem(Item item)
    {
        hungryDay.Items.Remove(item);
    }
}
