@page "/{Id:int}"
@using Hungry.Shared.Models
@using Hungry.Shared.Repositories
@using Hungry.Blazor.Shared.Components

@inject HungryRepository _hungryRepostiory
@inject NavigationManager NavigationManager

<div class="row">
	<div class="col-1 text-center align-self-center"><i class="far fa-dot-circle"></i></div>
	<div class="col-8 text-break align-self-center">
		<label class="col-form-label fw-bolder">Mexican Tortillas</label>
	</div>
	<div class="col-1 align-self-center"><a href="#" data-bs-target="#editDiner" data-bs-toggle="modal"><i class="far fa-edit text-warning"></i></a>
		<div id="editDiner" class="modal fade show" role="dialog" tabindex="-1">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Edit diner</h4>
						<button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<form>
						<div class="modal-body">
							<label class="form-label">Title</label>
							<input class="form-control form-control" type="text" /> </div>
						<div class="modal-footer">
							<button class="btn btn-light" type="button" data-bs-dismiss="modal">Close</button>
							<button class="btn btn-primary" type="submit">Save</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="col-1 text-center align-self-center">
		<div id="deleteDay" class="modal fade" role="dialog" tabindex="-1">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Delete day</h4>
						<button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<form>
						<div class="modal-body">
							<p>Are you sure you want to delete all ingredients in this day?</p>
						</div>
						<div class="modal-footer">
							<form>
								<button class="btn btn-light" type="button" data-bs-dismiss="modal">Close</button>
								<button class="btn btn-danger" type="submit">Delete</button>
							</form>
						</div>
					</form>
				</div>
			</div>
		</div><a data-bs-target="#deleteDay" data-bs-toggle="modal"><i class="far fa-trash-alt text-danger"></i></a> </div>
</div>
<hr />
<div class="row justify-content-end mb-3">
	<div class="col-12">
		<button class="btn btn-success w-100" @onclick="() => createIngredientModal.Open()">+</button>
		<EditForm Model="@item" OnValidSubmit="@AddItem">
			<DataAnnotationsValidator />
			<ValidationSummary />
			<Modal @ref="createIngredientModal">
				<Title>Create ingredient</Title>
					<Body>
						<label class="form-label">Name</label>
						<InputText class="form-control" type="text" @bind-Value="item.Name" />
						<label class="form-label">Amount</label>
						<InputRange Min="0" Max="10" Step="1" Value="0" Name="Amount" />
						<label class="form-label">Store</label>
						<select class="form-select form-select">
							<option value="Ah">Albert heijn</option>
						</select>
						<div class="form-check mt-4">
							<InputCheckbox class="form-check-input" type="checkbox" @bind-Value="item.Bought" />
							<label class="form-check-label" for="formCheck-1">Bought</label>
						</div>
					</Body>
					<Footer>
						<button class="btn btn-light" type="button" data-bs-dismiss="modal" @onclick="() => createIngredientModal.Close()">Close</button>
						<button class="btn btn-primary" type="submit">Save</button>
					</Footer>
			</Modal>
		</EditForm>
	</div>
</div>
<form>
	@foreach(var item in hungryDay.Items)
	{
		<div class="row mt-2" style="box-shadow: 0px 0px 6px 0px;">
			<div class="col-1 align-self-center">
				<input type="checkbox" /> </div>
			<div class="col-3 align-self-center">
				<label class="col-form-label">@item.Name</label>
			</div>
			<div class="col-1 align-self-center">
				<label class="col-form-label fw-bold">@item.Quantity x</label>
			</div>
			<div class="col-3 align-self-center">
				<label class="col-form-label">@item.Store.ToString()</label>
			</div>
			<div class="col-1 offset-1 align-self-center"><a href="#" data-bs-target="#editIngredient" data-bs-toggle="modal"><i class="far fa-edit text-warning"></i></a>
				<div id="editIngredient" class="modal fade" role="dialog" tabindex="-1">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title">Edit ingredient</h4>
								<button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<form>
								<div class="modal-body">
									<label class="form-label">Name</label>
									<input class="form-control" type="text" />
									<label class="form-label">Amount</label>
									<input class="form-range form-control" type="range" min="0" max="10" step="1" value="0" name="Amount" />
									<label class="form-label">Store</label>
									<select class="form-select form-select">
										<option value="Ah">Albert heijn</option>
									</select>
									<div class="form-check mt-4">
										<input id="formCheck-2" class="form-check-input" type="checkbox" />
										<label class="form-check-label" for="formCheck-2">Bought</label>
									</div>
								</div>
								<div class="modal-footer">
									<button class="btn btn-light" type="button" data-bs-dismiss="modal">Close</button>
									<button class="btn btn-primary" type="submit">Save</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="col-1 text-center align-self-center">
				<div id="deleteIngredient" class="modal fade" role="dialog" tabindex="-1">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title">Delete ingredient</h4>
								<button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<p>Are you sure you want to delete this ingredient?</p>
							</div>
							<div class="modal-footer">
								<form>
									<button class="btn btn-light" type="button" data-bs-dismiss="modal">Close</button>
									<button class="btn btn-danger" type="submit">Delete</button>
								</form>
							</div>
						</div>
					</div>
				</div><a data-bs-target="#deleteIngredient" data-bs-toggle="modal"><i class="far fa-trash-alt text-danger"></i></a> </div>
		</div>
	}
		<hr />
		<div class="row mt-2">
			<div class="col-12">
				<button class="btn btn-primary disabled w-100" type="button" disabled>Save</button>
			</div>
		</div>

</form>
@code {
	private Modal editDinerModal { get; set; }
	private Modal deleteDayModal { get; set; }
	private Modal createIngredientModal { get; set; }
	private Modal editIngredientModal { get; set; }
	private Modal deleteIngredientModal { get; set; }


	public HungryDay? hungryDay;

	public Item? item;

	[Parameter]
	public int Id { get; set; } = 0;

	protected override void OnInitialized()
	{
		hungryDay = _hungryRepostiory.GetHungryDay(Id);
		item = new Item();
	}

    private void HandleValidSubmit()
    {
        _hungryRepostiory.EditHungryDay(hungryDay);
        //NavigationManager.NavigateTo("hungrydays");
        // Process the valid form
    }

    private void AddItem(Item item)
    {
        hungryDay.Items.Add(item);
    }

    private void DeleteItem(Item item)
    {
        hungryDay.Items.Remove(item);
    }

}

